# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

# Config version for compatibility and deprecations
# Fallback value (if you omit the key): config-version = 1
config-version = 2

# You can use it to add commands that run after login to macOS user session.
# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Notify Sketchybar about workspace change
exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE',
]

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = false

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 20

# Possible values: tiles|accordion
default-root-container-layout = 'accordion'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
on-focused-monitor-changed = ['move-mouse window-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodness#disable-hide-app
automatically-unhide-macos-hidden-apps = true

# List of workspaces that should stay alive even when they contain no windows,
# even when they are invisible.
# This config version is only available since 'config-version = 2'
# Fallback value (if you omit the key): persistent-workspaces = []
persistent-workspaces = []

# A callback that runs every time binding mode changes
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# See: https://nikitabobko.github.io/AeroSpace/commands#mode
on-mode-changed = []

# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See: https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 20
    inner.vertical =   20
    outer.left =       20
    outer.bottom =     20
    outer.top =        [{ monitor."built-in" = 15 }, 50]
    outer.right =      20


# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right
# All possible modifiers: cmd, alt, ctrl, shift

[mode.main.binding]
    ctrl-alt-a = 'layout h_accordion'
    ctrl-alt-d = 'layout tiles horizontal vertical'
    ctrl-alt-s = 'balance-sizes'

    alt-h = 'focus left'
    alt-j = 'focus down'
    alt-k = 'focus up'
    alt-l = 'focus right'

    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    alt-cmd-h = 'join-with left'
    alt-cmd-j = 'join-with down'
    alt-cmd-k = 'join-with up'
    alt-cmd-l = 'join-with right'

    ctrl-alt-h = 'resize width -100'
    ctrl-alt-j = 'resize height +100'
    ctrl-alt-k = 'resize height -100'
    ctrl-alt-l = 'resize width +100'

    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-4 = 'workspace 4'

    alt-shift-1 = 'exec-and-forget aerospace move-node-to-workspace --focus-follows-window 1 && sketchybar --trigger space_windows_change'
    alt-shift-2 = 'exec-and-forget aerospace move-node-to-workspace --focus-follows-window 2 && sketchybar --trigger space_windows_change'
    alt-shift-3 = 'exec-and-forget aerospace move-node-to-workspace --focus-follows-window 3 && sketchybar --trigger space_windows_change'
    alt-shift-4 = 'exec-and-forget aerospace move-node-to-workspace --focus-follows-window 4 && sketchybar --trigger space_windows_change'

    alt-x = 'workspace-back-and-forth'
    alt-space = 'layout floating tiling'
    alt-f = 'fullscreen --no-outer-gaps'
    alt-shift-f = 'macos-native-fullscreen'

    ctrl-alt-cmd-r = 'reload-config'
    ctrl-alt-shift-r = 'exec-and-forget sketchybar --reload'
    alt-shift-s = 'exec-and-forget screencapture -i -c'

    # programm shortcuts
    cmd-enter = 'exec-and-forget kitty -d ~'
    cmd-alt-space = 'exec-and-forget open -a Finder.app'

    # Disable annoying and useless "hide application" shortcut
    cmd-h = [] # Disable "hide application"





[workspace-to-monitor-force-assignment]
    1  = ['main', 'built-in']
    2 = ['main', 'built-in']
    3  = ['built-in']
    4 = ['built-in']


# floating rules
[[on-window-detected]]
    if.app-name-regex-substring = 'finder'
    run = ['layout floating']

[[on-window-detected]]
    if.app-name-regex-substring = 'activity monitor'
    run = ['layout floating']

[[on-window-detected]]
    if.app-id = 'com.microsoft.rdc.macos'
    if.window-title-regex-substring = '192'
    run = ['layout floating']

[[on-window-detected]]
    if.app-name-regex-substring = 'unarchiver'
    run = ['layout floating']
    

# programm workspace rules
## web
[[on-window-detected]]
    if.app-name-regex-substring = 'chrome'
    run = ['move-node-to-workspace 1']

## media
[[on-window-detected]]
    if.app-name-regex-substring = 'code'
    run = ['move-node-to-workspace 2']

[[on-window-detected]]
    if.app-name-regex-substring = 'spotify'
    run = ['move-node-to-workspace 2']

[[on-window-detected]]
    if.app-name-regex-substring = 'jellyfin'
    run = ['move-node-to-workspace 2']

## mail
[[on-window-detected]]
    if.app-name-regex-substring = 'mail'
    run = ['move-node-to-workspace 4']

[[on-window-detected]]
    if.app-name-regex-substring = 'calendar'
    run = ['move-node-to-workspace 4']

## social
[[on-window-detected]]
    if.app-name-regex-substring = 'slack'
    run = ['move-node-to-workspace 3']

[[on-window-detected]]
    if.app-name-regex-substring = 'discord'
    run = ['move-node-to-workspace 3']

[[on-window-detected]]
    if.app-name-regex-substring = 'signal'
    run = ['move-node-to-workspace 3']
